* {
  font-family: "Times New Roman", Times, serif;
}
body {
  background-image: url(https://images7.alphacoders.com/666/thumb-1920-666343.jpg);
  height: 100%;
}
header {
  color: rgb(12, 94, 12);
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  position: fixed;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  animation: flip;
  animation-duration: 4s;
  cursor: pointer;
}
h1:active {
  animation-duration: 2s;
  animation: forwards;
}
main {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
button {
  font-size: 20px;
  color: white;
  background-color: rgb(12, 94, 12);
  cursor: pointer;
}
img {
  width: 70px;
  height: 50px;
  margin-top: 10px;
}
.imgContainer {
  margin-top: 20px;
  margin-left: 500px;

  width: 600px;
  height: 600px;
  border: 5px solid white;
}
.imgContainer{
  width: 600px;
  height: 600px;
  background-position: center;
  align-items: center;
}
